@model IEnumerable<HelpDesk.Model.Casos>


<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Estado
        </th>
        <th>
            Fecha de creación
        </th>
        <th>
            Descripción del problema
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionProblema)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Volver", "Index")
</p>