@model IEnumerable<HelpDesk.Model.Empleados>

@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>

<p>
    @Html.ActionLink("Agregar nuevo empleado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Ver casos asignados", "CasosAsignados", new { id=item.Id }) |
            @Html.ActionLink("Ver historial de casos", "HistorialDeCasosAsignados", new { id=item.Id })
        </td>
    </tr>
}

</table>
